*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  color:#777;
}

@media only screen and (max-width:375px){
  .footer{
    margin-top: 175px;
  }

  .result{
    margin-top: 100px;
  }

  button{
    margin-top: 80px;
  }
}

@media only screen and (max-width:414px){
  .footer{
    margin-top: 100px;
  }
}

@media only screen and (max-width:375px){
  .footer{
    margin-top: 30px;
  }
  button{
    margin-top: 30px;
  }
}

@media only screen and (max-width:320px){
  .navbar{
    height: 60px;
  }
  .footer{
    margin: 0px;
    height:40px
  }

  button{
    margin: 10px;
  }

  .result{
    margin: 20px;
  }
}

@media only screen and (max-width:411px){
  .footer{
    margin-top: 180px;
  }
  button{
    margin-top: 30px;
  }
}

@media only screen and (max-width:360px){
  .footer{
    margin-top:5px;
  }
}