.container{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 475px;
}

button{
    text-transform: uppercase;
    text-decoration: none; 
    height: 100px;
    width:120px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 100%;
    background-image: linear-gradient(to right, #8FB0E4, #506AAE);
    color:#FBF3FB;
}



button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}





button:hover::after{
    transform:scaleX(1.4) scaleY(1.6);
    opacity:0;
}